<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeaway - Confirma tu dirección</title>
</head>

<body>
    <div>
        <div>HOMEAWAY</div>
    </div>

    <div>
        <button>←</button>

        <h1>Confirma tu dirección</h1>
        <p>Solo compartiremos la dirección con los huéspedes después de que hayan hecho la reservación.</p>

        <form>
            <label>Región</label><br>
            <input type="text" placeholder="La paz - MX"><br><br>

            <label>Dirección</label><br>
            <input type="text" placeholder="sonora"><br><br>

            <label>Departamento, habitación, etc. (si corresponde)</label><br>
            <input type="text" placeholder="Departamento, habitación, etc."><br><br>

            <label>Zona (si corresponde)</label><br>
            <input type="text" placeholder="Zona"><br><br>

            <label>Código postal</label><br>
            <input type="text" placeholder="Código postal"><br><br>

            <label>Ciudad / municipio</label><br>
            <input type="text" placeholder="La paz"><br><br>

            <label>Estado</label><br>
            <input type="text" placeholder="Baja California sur"><br><br>

            <button type="submit">Siguiente</button>
        </form>
    </div>
</body>
</html>