<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - HomeAway</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body class="pagina-auth">
    <div class="contenedor-principal">
        
        <div class="seccion-derecha">
            <div class="logo-container-izq">
                <img src="../assets/img/Logo_blanco.png" alt="HomeAway Logo" class="logo-registro">
            </div>
            
            <div class="contenido-registro">
                <h2 class="titulo-registro">¿Ya tienes cuenta?</h2>
                <p class="texto-registro">Inicia sesión para disfrutar de los mejores viajes por parte de nosotros</p>
                <button class="boton-registro" onclick="window.location.href='Login.html'">Iniciar sesión</button>
            </div>
        </div>

        <!-- Registro a la derecha -->
        <div class="seccion-izquierda">
            <div class="formulario-login">
                <h1 class="titulo-login">Registro</h1>

                <form class="form-login" id="formRegistro">
                    <div class="grupo-input">
                        <label for="nombre" class="label-input">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="input-field" required>
                    </div>

                    <div class="grupo-input">
                        <label for="email" class="label-input">Correo electrónico:</label>
                        <input type="email" id="email" name="email" class="input-field" required>
                    </div>

                    <div class="grupo-input">
                        <label for="password" class="label-input">Contraseña:</label>
                        <input type="password" id="password" name="password" class="input-field" required>
                    </div>

                    <button type="submit" class="boton-login">Registrarse</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../assets/javascript/main.js"></script>
</body>
</html>